extends layout

block content
  h1 Review Station
  p.lead Please enter your details in the profile page from your account.
  hr
  .row
    .col-sm-12
      h2 Getting to your account
      p This is where you can store important information so that we can send you products and samples it is also your space to provide links to youtube and your facebook profile to show us your public exposure.
      p
        a.btn.btn-default(href='/account', role='button') My Account »
  .row
    .col-sm-6
      h2 Tracking
      p If you have received products you can let us know here and we will be able to then track how the delicery was or be able to sort out any problems for you.
      p
        a.btn.btn-default(href='/tracker', role='button') Tracking »
  
    .col-sm-6
      h2 Company
      p List of current companies.
      p
        a.btn.btn-default(href='/company', role='button')  Company »
  .row
    .col-sm-6
      h2 Products
      p List of current products.
      p
        a.btn.btn-default(href='/product', role='button') Products »

    .col-sm-6
      h2 Users
      p List of current users.
      p
        a.btn.btn-default(href='/userlist', role='button') Users »

  .row
    .col-sm-6
      h2 Shipments
      p List of active shipments.
      p
        a.btn.btn-default(href='/ship', role='button') Shipments »
